@import "../../assets/styles/variable";

.pokemonCard__ {
  &wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &container {
    width: 70%;
    margin: 25px 0;
    padding: 20px;
    border-radius: 20px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.12);
    transition: 0.5s ease-in-out box-shadow;

    &:hover {
      box-shadow: 0 3px 16px rgba($color: #000000, $alpha: 0.28);
    }
  }

  &image {
    display: flex;

    @media (max-width: $phone) {
      flex-direction: column;
    }
  }

  &name {
    text-transform: uppercase;
  }
}
