$detailRed: #f82134;
$detailDarkRed: #cb3001;
$detailYellow: #fce205;
$detailBlue: #2740b7;
$detailDarkBlue: #1c2e84;
$gray: #999da0;
$lightGray: #dcdcdc;
$darkGray: #777b7e;
$white: #fff;
$black: #000;
$grass: #0b8a29;
$poison: #856c8b;
$psychic: #f76a8c;
$ground: #ffa34d;
$ice: #98d6ea;
$fire: #d63447;
$rock: #323232;
$dragon: #481380;
$water: #98d6ea;
$bug: #235952;
$dark: #000839;
$fighting: #ba6b57;
$ghost: #54123b;
$steel: #5d5b6a;
$flying: #12cad6;
$electric: #ffcc00;
$fairy: #cc0066;
